# Build directories
build/
*/build/
**/build/

# Old makefile
old_makefile

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
Makefile

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app